@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Croissant+One&family=Great+Vibes&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kalam:wght@300;400;700&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montez&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Palanquin+Dark:wght@400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&family=Rajdhani:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Iso&family=Teko:wght@300;400;500;600;700&family=Young+Serif&display=swap');

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

.all_pages {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
     width: 82.5%;
     margin: auto;
     margin-top: 30px;
}

.like {
     position: absolute;
     margin-top: -300px;
     margin-left: 200px;
}



.like2{
     position: absolute;
}

.h1 {
     font-family: sans-serif;
     width: 82.5%;
     margin-left: 140px;
     margin-top: 20px;
     margin-bottom: 30px;
}

.box_text {
     width: 232px;
     height: 147px;
}

.box_img1 h2 {
     position: absolute;
     font-size: 13px;
     font-family: Roboto, sans-serif;
     line-height: 21px;
     font-weight: 500;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     text-decoration: none solid rgb(28, 28, 28);
     text-align: start;
     text-indent: 0px;
     width: 93px;
     height: 21px;
}

.box_img1 h2 mark {
     background-color: rgb(255, 221, 85);
     width: 93px;
     height: 21px;
     font-size: 13px;
     border-radius: 2px;
     text-align: center;
}

.birbalo1 {
     background-color: rgb(255, 221, 85);
     width: 93px;
     height: 21px;
     font-size: 13px;
     border-radius: 4px;
     position: absolute;
     margin-top: -25px;
}

#box_img1 {
     width: 232px;
     height: 309px;
     line-height: 16px;
     vertical-align: baseline;
     letter-spacing: normal;
     word-spacing: 0px;
     font-weight: 400;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     text-decoration: none solid rgb(0, 0, 0);
     text-align: start;
     text-indent: 0px;
     border-radius: 8px;
     transition: 1s;
}

#p_1 {
     font-family: Inter;
     font-size: 12.8px;
     line-height: 15.36px;
     vertical-align: baseline;
     letter-spacing: normal;
     word-spacing: 0px;
     font-weight: 400;
     font-style: normal;
     font-variant: normal;
     text-transform: none;
     text-decoration: none solid rgb(0, 0, 0);
     text-align: start;
     text-indent: 0px;
     width: 193px;
     margin-top: 10px;
     margin-left: 5px;
     margin-bottom: 5px;
}

.start1 {
     display: flex;
}

.star1_text {
     transform: translateY(-18px)translateX(25px);
}

.star1_text {
     color: #8a8d93;
     font-family: Inter;
     font-size: 11.2px;
     line-height: 11.2px;
     font-weight: 300;
     font-style: normal;
     margin-bottom: 10px;

}

.star1_img {
     margin-left: 5px;
}

#mark5 {
     color: #1f1f26;
     font-family: Roboto, sans-serif;
     line-height: 17px;
     font-weight: 400;
     border-radius: 5px;
     font-size: 12px;
     margin-left: 5px;
     position: absolute;
     margin-top: -20px;
}

del {
     color: #757575;
     font-family: Inter;
     font-size: 11.2px;
     font-weight: 400;
     margin-left: 5px;
     margin-top: 7px;
}

#h3 {
     color: #000000;
     font-family: Inter;
     font-size: 14px;
     line-height: 16.8px;
     font-weight: 500;
     margin-left: 5px;
     width: 100px;
     margin-top: -7px;
}

.box1 {
     width: 236px;
     height: 450px;
     transition: 1s;
     overflow: hidden;
     margin: auto;
}

.box1:hover #box_img1 {
     transform: scale(1.02986);
}

.box1:hover {
     box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
     border-radius: 15px;
}

.del {
     display: grid;
     grid-template-columns: 1fr 1fr;
     padding-right: 20px;
}

.vektor {
     width: 30px;
     height: 30px;
     border: 2px solid grey;
     border-radius: 50%;
     margin-left: 90px;
     padding-left: 5px;
     padding-top: 2px;
}

#vektor {
     padding-left: 5px;
}